

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
}

.fieldset {
    width: 500px;
    height: 50px;
    padding: 10px;
}
.form-content {
    text-align: center;
}

#short-code-input {
    width: 50px;
}

#submit-button {
    text-align: left;
    margin-top: 10px;
}

.hidden-button {
    display: none;
}

.visible-button {
    
}